/*   html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark  html5doctor.com/html-5-reset-stylesheet/*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

article,aside,figure,footer,header,hgroup,nav,section {
	display:block;
}

nav ul {
	list-style:none;
}

blockquote,q {
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:700;
}

del {
	text-decoration:line-through;
}

abbr[title],dfn[title] {
	border-bottom:1px dotted #000;
	cursor:help;
}

/* tables still need cellspacing="0" in the markup */
table {
	border-collapse:collapse;
	border-spacing:0;
}

hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0;
}

input,select {
	vertical-align:middle;
}

/* END RESET CSS */

html {
	min-height: 100%;
	background: #000000;
	background: -moz-linear-gradient(top,  #000000 0%, #808080 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#808080));
	background: -webkit-linear-gradient(top,  #000000 0%,#808080 100%);
	background: -o-linear-gradient(top,  #000000 0%,#808080 100%);
	background: -ms-linear-gradient(top,  #000000 0%,#808080 100%);
	background: linear-gradient(to bottom,  #000000 0%,#808080 100%);
	color: #fff;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.container {
	margin: 0 auto;
	width: 960px;
}

.nav {
	margin: 40px 0 0;
}

.carousel ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 42em;
	height: 28em;
}

.carousel li {
	height: 24em;
	width: 24em;
	text-align: center;
	cursor: pointer;
}

.carousel li.roundabout-in-focus {
	cursor: default;
}

	.carousel li img {
		width: 100%;
	}

	.carousel li span {
		display: block;
		padding-top: 6em;
	}